
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
}

/* svg */

.stroke {
  stroke-dashoffset: 2000;
  stroke-dasharray: 2000;
  animation: circle-draw 10s linear infinite;
}

@keyframes circle-draw {
  80% {
    stroke-dashoffset: 0;
  }
}
/* svg end */

/* navbar */
.header {
  width: 100%;
  /* justify-content: left; */
}

.nav-title {
  /* position: fixed; */
  font-size: 36px;
  padding: 1em 1em;
  line-height: 30px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  font-family: 'Itim', cursive;
  text-decoration: none;
  color: black;
}

.nav-text {
  font-size: 10px;
  text-transform: uppercase;
  padding-left: 4px;
  font-family: 'Itim', cursive;
}

.nav-tran:hover {
  color: rgba(211, 171, 59, 0.781);
  letter-spacing: 0.5px;
}

.right {
  float: right !important;
}
/* navbar end */

/* main */
.main {
  /* position: fixed; */
  height: 100%;
  width: 100%;
  display: flex;
}

.main .pic {
  position: relative;
  top: 2em;
  width: 65%;
}

.main .intro {
  position: relative;
  width: 25%;
  padding-top: 200px;
  font-family: 'Itim', cursive;
}

.main .intro h1 {
  font-size: 40px;
  letter-spacing: 2.5px;
  margin-bottom: 5px;
}

.main .intro section {
  font-size: 28px;
  letter-spacing: 1.5px;
}

/* .main .intro h2 {
  font-size: 35px;
  letter-spacing: 2.5px;
  font-family: 'Itim', cursive;
  padding-top: 3px;
  padding-left: 20px;
} */

.main .intro #lovername {
  padding-left: 40px;
}
/* main end*/

/* fb-ig */
.fb-ig {
  padding-top: 1em;
  font-size: 20px;
  width: 100%;
  margin-top: 40px;
  font-family: 'Itim', cursive;
  display: flex;
  justify-content: center;
}

.fb-ig a {
  text-decoration: none;
  color: black;
  margin: 2rem;
  transition: all 0.3s ease-in-out;
}

.fb-ig a i {
  padding-right: 5px;
}

.fb-ig a:hover {
  color: rgba(211, 171, 59, 0.781);
  letter-spacing: 0.5px;
}
/* fb-ig end */

/* work */
.work {
  margin-top: 30px;
  width: 100%;
  height: 4500px;
  background-color: rgb(168, 100, 17);
  /* z-index: 1; */
  /* display: flex; */
}

.work h3{
  font-size: 1.5rem;
}

.work p{
  font-size: 1.2rem;
}

.work img {
  width: 300px;
}

.work #i1 {
}

.work #i2 {
}

/* work end */

/* rwd */
@media(max-width: 850px){
  .nav-title{
    line-height: 0.8em;
    font-size: 30px;
  }
  .main .intro h1 {
    font-size: 25px;
  }
  .main .intro section {
    font-size: 18px;
  }
  .main .intro {
    padding-top: 120px;
  }
}

@media (max-width: 700px) {
  .nav-text{
    font-size: 8px;
  }
  .main .intro {
    margin-top: 5px;
  }
  /* .main .intro h2 {
    padding-top: 10px;
  } */
  .main {
    display: flex;
  }
}

@media(max-width: 550px){
  .main .intro {
    padding-top: 50px;
  }
  .fb-ig{
    margin-top: 6rem;
  }
}

@media(max-width: 400px){
  .main{
    display: flex;
    flex-direction: column;
  }
  .main .pic {
    width: 100%;
  }
  
  .main .intro {
    position: relative;
    left: 50%;
    width: 100%;
  }
  .nav-text{
    display: none;
  }
  .nav-title{
    font-size: 25px;
  }
  .main .intro h1 {
    font-size: 18px;
  }
  .main .intro section {
    font-size: 10px;
    position: absolute;
    left: 9%;
  }
  .main .intro {
    padding-top: 50px;
  }
  .fb-ig{
    margin-top: 50px;
    font-size: 14px;
  }
}

@media (max-width: 350px){
  .nav-title{
    font-size: 23px;
  }
  .main .intro h1 {
    font-size: 12px;
  }
  .main .intro section {
    font-size: 5px;
  }
  .fb-ig{
    font-size: 15px;
    flex-direction: column;
    text-align: center;
  } 
  .fb-ig div:last-child{
    padding-top: 0.5em;
    font-size: 15px;
    flex-direction: column;
    text-align: center;
  } 
}
/* rwd end */